.tmp_asar/
.tmp_extracted/
.tmp_newbeebox_js/

__pycache__/
*.pyc

prototype/__pycache__/
prototype/web/__pycache__/

prototype/web/build/
prototype/web/dist/

prototype/diagnostic_snapshots/
prototype/battle_net_state_backups/
prototype/battle_switch_library/ui_state.json
prototype/battle_switch_library/accounts/

*.log
